:root {
    --red: 0; 
    --green: 0;
    --blue: 0;
}

body {
    background-color: rgb(var(--red),var(--green),var(--blue));
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Merienda", cursive;
}

label {
    display: block;
    background-color: rgb(200, 200, 200);
    padding: 1em;
    margin: .8em;
    border-radius: 1.5em;
    text-align: right;
}

